<mat-toolbar class="toolbar">
  <a routerLink="/" class="logo">{{ 'toolbar.logo' | translate }}</a>
  <span class="spacer"></span>
  <nav class="nav-links">
    <button mat-button (click)="navigateToSection('projects')" class="nav-link">
      {{ 'toolbar.projects' | translate }}
    </button>
    <span class="separator">|</span>
    <button mat-button (click)="navigateToSection('about')" class="nav-link">
      {{ 'toolbar.about' | translate }}
    </button>
  </nav>
  <button mat-icon-button (click)="toggleLanguage()" class="lang-toggle">
    {{ translationService.currentLang() | uppercase }}
  </button>
</mat-toolbar>